@import url('https://fonts.googleapis.com/css2?family=Gwendolyn&family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgb(212, 193, 193);
}

nav{
  background: rgb(21, 137, 158);
  height: 80px;
  width: 100%;
  font-family: 'Outfit', sans-serif;
}

nav ul{
  float: left;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover{
  background: #0581a0;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}
p
{
  font-size : 25px;
}
img
{
  border-radius : 50px;
  padding-top : 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
@media (max-width: 952px)
  {
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px)
{
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

.head{
  font-family: 'Gwendolyn', cursive;
  font-weight: bold;
  font-size: 40px;
  align-items: center;
  text-align: center;
}

.para{
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color : white;
}
p
{
  font-size : 20px;
}

.container{
  display: flex;
  flex-direction: row;  
  flex-wrap: nowrap;        
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  background: rgb(212, 193, 193);
  grid-gap: 4px;
}

.about{
  float: left;
  border:2px solid #2c3e50;
  height: 320px;
  width: 300%;
  text-align: center;
  border-radius: 3px;
  background-color : pink;
}
@media screen and (max-width: 600px) 
{
  img
  {
     border-radius : 50px;
     padding-top : 20px;
  }
  .center 
  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
 }
}

